
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto;
    font-size: 21px;
    color: #62560E;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.header {
    background-color: #FED839;
}

.navbar {
    width: 95%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FED839;
}

.logo {
    width: 179px;
    margin-right: 73px;
    padding: 0;
}
  
.nav-menu {
    width: 990px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.nav-menu li {
    margin: 0 43px 0 0;
    display: flex;
    align-items: center;
}
  
.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #62560E;
    font-family: Roboto;
    font-weight: 400;
    font-size: 21px;
    white-space: nowrap;
    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
    transition: border-color 0.3s ease;
}
  
.nav-menu a:hover {
    color: #FF0303;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid #FF0303;
}

.nav-ico {
    width: 25px;
    height: 25px;
    padding-right: 9px;
    transition: filter 0.3s ease;
}

.nav-menu a:hover .nav-ico {
    filter: sepia(1) saturate(6) hue-rotate(-40deg) brightness(1.2);
}

.main {
    height: 94%;
    background-color: #FFFCEC;
}

.nav-text-exit {
    width: 240px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0087FC;
    font-family: Roboto;
    font-weight: 300;
    font-size: 21px;
    white-space: nowrap;
}

.types {
    display: flex;
    text-align: center;
}

.types ul {
    width: 95%;
    list-style: none;
    margin: 20px auto 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;  /* Элементы будут переноситься на следующую строку */
}

.types li {
    margin: 5px 0;  /* Отступы между элементами */
}

.types a {
    display: block;
    padding: 0 15px 0 0;
    text-decoration: none;
    color: #62560E;
    font-family: Roboto;
    font-weight: 400;
    font-size: 21px;
    white-space: nowrap;
}

/* Общий контейнер для таблицы и кнопок */
.container {
    width: 95%;
    margin: 23px auto 0;
    display: flex; /* Flexbox для размещения элементов в одну строку */
    align-items: flex-start; /* Выравнивание по верхнему краю */
    justify-content: space-between;
    gap: 7px; /* Отступ между таблицей и кнопками */
    flex-wrap: wrap; /* Разрешаем перенос элементов на следующую строку при необходимости */
}

.my-table {
    border-collapse: collapse;
}

/* Стили для строк таблицы */
.my-table td {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 28px;
    background-color: #FFF;
    border: 1px solid rgba(98, 85, 14, 0.45);
    flex-grow: 1;
}

.my-table p {
    font-weight: 300;
}

.horizontal {
    width: 100%;
    display: flex;
}

.filter-spec-text {
    margin: 0;
    color: #0087FC;
}

/* Стили для кнопок выпадающего меню */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    color: #62560E;
    background-color: #fff;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    align-items: center;
}

/* Скрыть выпадающее меню по умолчанию */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Показать выпадающее меню при наведении */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Стили для кнопок (квадратиков) */
.buttons {
    display: flex;
    flex-wrap: wrap; /* Кнопки переходят на следующую строку при необходимости */
    gap: 8px;
}

.square-btn {
    width: 50px;
    height: 50px;
    background-color: #FFF;
    border: 1px solid rgba(98, 85, 14, 0.45);
    color: #62560E;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-btn:hover {
    background-color: #0087FC;
    color: white;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.cells th, td {
    padding: 5px;
    background-color: #FFF;
    border: 1px solid rgba(98, 85, 14, 0.45);
    font-weight: 300;
    vertical-align: top;
    text-align: left;
}

td img {
    margin-top: 5px;
    width: 22px;
    height: auto;
}

pre {
    display: inline;
    margin: 0;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 200;
}

.down-arrow {
    width: 26px;
    height: 26px;
}

.regular-weigth {
    margin: 0;
    font-weight: 400;
}


/*ПОДСКАЗКИ*/

.tooltip-static,
.tooltip-gray,
.tooltip-red {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  position: relative;
}
.tooltip-red {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  cursor: pointer;
}

.tooltip-red::after {
  content: 'ПЕРЕНЕСТИ ЭТОГО СОИСКАТЕЛЯ К СЕБЕ В БАЗУ СОИСКАТЕЛЕЙ';
  position: absolute;
  top: 120%;
  left: 900%;
  transform: translateX(-50%);
  background-color: #D9D9D9;
  color: #333;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  z-index: 999;
}

.tooltip-red:hover::after {
  opacity: 1;
  visibility: visible;
}
.tooltip-gray {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  cursor: pointer;
}

.tooltip-gray::after {
  content: 'СКАЧАТЬ РЕЗЮМЕ СОИСКАТЕЛЯ';
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #D9D9D9;
  color: #333;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  z-index: 999;
}

.tooltip-gray:hover::after {
  opacity: 1;
  visibility: visible;
}


.sormovskiy {
  color: #7001FF;
  font-weight: 400;
}

.priokskiy {
  color: #FFC815;
  font-weight: 400;
}
.job-period {
  color: #0087FC;
  font-weight: 400;
}








